body {
    background-image: url('../util/images/login-page-drinks.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#loginSection {
    background: rgba(179, 28, 28, 0.1);
}
