body {
    background-image: url('../util/images/login-page-drinks.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#loginSection {
    padding: 25px;
    background: rgba(20, 57, 131, 0.2);
}
